.button {
  border: none;
  color: white;
  padding: 5px;
}

.button--primary {
  @extend .button;
  background-color: green;
}

.button--secondary {
  @extend .button;
  background-color: blue;
}

.button--danger {
  @extend .button;
  background-color: red;
}
